Package: txt-base
Source: todo.txt-base
Version: 1.0
Architecture: all
Maintainer: David Steele <steele@debian.org>
Installed-Size: 45
Suggests: python-todo.txt-base-doc
Section: text
Priority: optional
Homepage: https://github.com/davesteele/todo.txt-base
Description: Common support for todo.txt packages
 Common support for todo.txt packages
